@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --led-color: #00ffcc;
}

body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

main > div {
  max-height: 500px;
  overflow: hidden;
}
